build/*
build
outputs
outputs/*
log/*
*.v
test*
*.pdf
*.log
*.out
*.backup
.cache
.vscode
__pycache__
*.pdf
*.sh
*.pth
*.png
*.json
abc_constr
*.ys
*.tcl
*.sdc
outputs*
runs

# mip solver
*.sol
*.mps
*.lp
reports

*.backup.*
rtl/*
*.csv
*.xlsx

plot*
get_*