experiment:
  kwargs:
    seed: 42
    log_level: INFO
    experiment_prefix: mac_16_and_routing_gene
    device: &device cuda:0
    log_dir: logs
    build_dir: build
    rtl_file: MAC.v
    n_processing: 8
    n_full_target_delay_processing: 12
    bit_width: 16
    encode_type: and_mac
    ct_arch: dadda

trainer:
  name: CompressorRoutingGeneArchMac
  kwargs:
    # loss params
    use_ppo_loss: true
    ppo_loss_weight: 1.0
    use_delay_loss: false
    delay_loss_weight: 0.1
    lse_gamma_val: 0.01
    use_rule_loss: true
    rule_loss_weight: 1e-2
    rule_loss_wight_incr: 1e-3
    use_disc_loss: true
    disc_loss_weight: 1e-2
    disc_loss_weight_incr: 1e-3
    # training scale
    num_episodes: 5000
    num_samples: 2
    num_epochs: 1 # ppo epochs
    save_freq: 500
    log_freq: 1
    # learning params
    optim_name: Adam
    optim_kwargs: 
      lr: 1e-4
    scheduler_name: CosineAnnealingLR
    scheduler_kwargs:
      T_max: 5000
      eta_min: 1e-5
    clip_range: 0.2
    max_grad_norm: 0.5
    # model params
    gcn_kwargs:
      input_dim: 7
      hidden_dims_list: [[512, 512], [256, 256], [128, 128]]
      output_dim: 64
      activation: tanh
      use_layernorm: true
      dropout: 0.0
    # eda params
    delay_weight: 2.0
    area_weight: 2.0
    power_weight: 1.0
    delay_scale: 1.394475
    area_scale: 2026.5
    power_scale: 0.0035775
    reference_point: [2.0, 2500]
    pareto_target: ["delay", "area"]
    pool_size: 20
    gomil_path: null
